*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    max-width: 100%;
    display: flex;
}

.form-section{
    width: 40%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.img-section{
    width: 60%;
    height: 100vh;
    background-image: url(./images/background_img.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-section h1{

   color: rgb(255, 255, 255);
   font-size: 58px;
}

.img-section button{
    width: 300px;
    height: 40px;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    font-size: 15px;
}

.form-section img{
    width: 300px;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
}

form label{
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 180px;
}

form input{
    width: 300px;
    height: 40px;
    background: transparent;
    border: none;
   border: 1px solid gray;
   border-radius: 5px;
}

form button{
    background-color: blue;
    color: white;
    width: 300px;
    height: 40px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    
}

form a{
color: blue;
text-decoration: none;
margin-top: 20px;

}

form hr{
    width: 350px;
    height: 1px;
    margin-top: 20px;
    color: gray;
}

form p{
    color: white;
    font-size: 16px;
    margin-top: 20px;

}

form span{
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

form span hr{
    height: 20px;
    width: 1px;

}

form span a{
    color: white;
    text-decoration: none;
}

form a:hover{
    border-bottom: 1px solid blue;
}

form span a:hover{
    border-bottom: 1px solid white;
}

